{% extends 'contest/base.html' %}
{% load url from future %}

{% block content %}
<div class="hero-unit">
    {% if user == contest.admin %}
    <a class="pull-right" href="{% url 'edit' contest.id %}">edit</a>
    {% endif %}
<h2>{{ contest.title }}</h2>
<small class="muted">by {{ contest.admin }}</small>
{% autoescape off %}
<p>{{ contest.description }}</p>
{% endautoescape %}
</div>

{% block submissions %}
Please <a href="/login?next={% url 'contest' contest.id %}">login</a> if you would like to participate.
{% endblock submissions %}

{% endblock content %}
