{% extends 'contest/base.html' %}
{% load url from future %}

{% block content %}
<form class="contest-form row" action="{% url 'edit' contest.id %}" method="post">
    {% csrf_token %}
    {% if form.errors %}
            {{ form.errors }}
    {% endif %}
    <div class="span8">
        <input type="text" name="{{ form.title.html_name }}"
            value="{{ contest.title }}" placeholder="contest title">
        <textarea name="{{ form.description.html_name }}">{{ contest.description }}</textarea>
    </div>
    <div class="span4">
        <button class="btn btn-primary" type="submit">
            {% if contest.id == 0%}Create{% else %}Update{% endif %}
        </button>
        <br>
        <br>
        {% if contest.id != 0 %}
        {% if contest.is_submission_open or contest.is_voting_open %}
            <p>Check this if you would like to close
            {% if contest.is_submission_open %}submissions{% else %}voting{% endif %}
            for this contest:</p>
            <label class="checkbox">
                <input type="checkbox" name="{{ form.close.html_name }}"> close
                {% if contest.is_submission_open %}submissions
                {% elif contest.is_voting_open %}voting
                {% endif %}
            </label>
            <p class="text-error"><i class="icon-warning-sign"></i>
            This can not be undone</p>
        {% endif %}
        {% endif %}
    </div>
</form>
{% endblock content %}
