{% extends 'contest/contest.html' %}
{% load url from future %}
{% load contest_tags %}

{% block submissions %}

{% if form %}
    {% if success %}
        <h3>Entry submitted sucessfully!</h3>
    {% elif submission %}
        <h3>You already have an entry.</h3>
    {% else %}
        <h3>Submit your entry!</h3>
    {% endif %}
    {% if submission %}
        <hr>
        <div>
            <p><a href="{{ submission.sc_url }}">{{ submission.title }}</a>
            by {{ submission.username }}</p>
            {% sc_widget submission.sc_url %}
        </div>
        <hr>
    {% endif %}

    <form method="post" action="{% url 'contest' contest.id %}" class="form-inline">
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <p class="text-error">{{ error }}</p>
            {% endfor %}
            {% for error in form.sc_url.errors %}
                <p class="text-error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        <input type="text" name="{{ form.sc_url.html_name }}"
            class="input-large span8" placeholder="https://soundcloud.com/..."
            {% if submission %}value="{{ submission.sc_url }}"{% endif %}>
        <button class="btn btn-primary" type="submit">{% if submission %}Update{% else %}Submit{% endif %}</button>
    </form>
{% endif %}
{% endblock submissions %}

