{% extends 'contest/contest.html' %}
{% load url from future %}
{% load contest_tags %}

{% block submissions %}

<table class="table">
{% for submission in submissions %}
<tr><td>
            <div float="left" width="80%">
            {% sc_widget submission.sc_url %}
            </td><td>
        <form method="post" action="{% url 'contest' contest.id %}"
            class="form-inline vote-form">
            {% csrf_token %}
            <input type="hidden"
                name="{{ submission.form.submission.html_name }}"
                value="{{ submission.id }}">
            {{ submission.form.score }}
        </form>
</td></tr>
{% endfor %}

</table>
{% endblock submissions %}

